<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
		<security> 
			<requestFiltering allowDoubleEscaping="true"></requestFiltering> 
		</security>
        <handlers>
            <add name="FastCgiModule" path="*" verb="*" modules="FastCgiModule" scriptProcessor="e:\python\python.exe|e:\python\lib\site-packages\wfastcgi.py" resourceType="Unspecified" />
        </handlers> 
    </system.webServer>
	<appSettings>
		<!-- Required settings -->
		<add key="WSGI_HANDLER" value="main.app" />
		<add key="PYTHONPATH" value="~/" />
	</appSettings>
</configuration>